// MAP 


.map {
    
    padding: 129px 0px;
}

.map__wrapper {
    
    padding: 39px 62px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 659px;
    border-radius: 8.37px;
    box-shadow: 0px 5.58px 13.95px 0px rgba(102, 102, 102, 0.25);
    background: rgb(255, 255, 255);
}

.map__header {
    color: rgb(102, 102, 102);
    font-family: 'Roboto Condensed';
    font-size: 22.31px;
    font-weight: 700;
    line-height: 23.01px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.map__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    max-width: 535px;
    width: 100%;
}

.map__iframe-wrapper {
 
}


.map__item-img {
    width: 33.47px;
    height: 30.68px;
}

.map__item-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    max-width: 481px;
    width: 100%;
}

.map__item-text {
    color: rgb(102, 102, 102);
    font-family: 'Roboto';
    font-size: 22.31px;
    font-weight: 500;
    line-height: 27.89px;
    letter-spacing: 0%;
    text-align: left;
}

.map__item-span {
    color: rgb(102, 102, 102);
    font-family: 'Roboto';
    font-size: 19.52px;
    font-weight: 400;
    line-height: 27.89px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}